.menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: end;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.enabled {
  opacity: 0.5;
  z-index: 10;
}

.paused {
  opacity: 1;
}

.paint-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
  padding-top: 2rem;
}

.paint-menu-button {
  padding: 0.6em;
  width: 2.5em;
  height: 2.5em;
}

.zoom-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 0.5em;
}

.tile-details {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 12em;
  background: black;
  border: 1px solid white;
  padding: 1em 1.5em;
}

.tile-details-list {
  padding: 0;
  margin: 0;
}
