.preview-item {
  position: absolute;
  top: -1px;
  left: -1px;
  display: flex;
  flex-direction: column;
  animation-name: pop-in;
  animation-timing-function: ease-out;
  animation-duration: 150ms;
}

@keyframes pop-in {
  0% {
    transform: scale(0.85);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.preview-item-inner.rotate-180 {
  transform: translateX(-50%);
}

.preview-item-inner.rotate-270 {
  transform: translateY(-50%);
}

.preview-item-cell {
  background-color: rgba(255, 187, 0, 0.15);
  border: 1px solid var(--tile-hl-color);
  z-index: 1;
}

.grid-inner-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.perspective {
  transform: rotateX(30deg) scale(0.8);
  margin-top: -2rem; /* compensate for scale and perspective transform */
  margin-bottom: -2rem; /* compensate for scale and perspective transform */

  @media (min-width: 500px) {
    transform: rotateX(30deg);
    margin-top: 0;
    margin-bottom: 0;
  }
}
