:root {
    --tile-edge-color: #c3afaf;
    --tile-hl-color: #ffbb00;
    --cell-size-desk: 3em;
    --cell-healthy-color: #175314;
    --cell-unhealthy-color: #741518;

    --hand-tile-size-mobile: 2.5rem;
    --hand-tile-size-desk: 3rem;
}

.html-game-view-wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 40em;
}

/* Top Level Containers */
.html-game-view-inner {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}

.info-bar,
.game-updates,
.dynamic-display,
.toolbar,
.grid-container {
  width: 100%;  
}

.grid-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.dynamic-display .hidden {
  display: none;
}

.toolbar {
  padding-bottom: 2rem;
}

.toolbar.hidden {
  display: none;
}

.game-updates {
  padding-bottom: 0.5rem;
}

/* Grid */
.html-game-view-wrapper .grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: black;
  border-bottom: 3px solid var(--tile-edge-color);
  border-right: 1px dashed #505050;
}

.html-game-view-wrapper .grid[data-size="10"],
.html-game-view-wrapper .grid[data-size="11"],
.html-game-view-wrapper .grid[data-size="12"] {
  font-size: 0.8em;
}

.html-game-view-wrapper .grid[data-size="13"],
.html-game-view-wrapper .grid[data-size="14"],
.html-game-view-wrapper .grid[data-size="15"]{
  font-size: 0.5em;
}

.grid-border {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  overflow: auto;
}

.grid-inner-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transform: rotateX(30deg) scale(0.8);
}

@media (min-width: 500px) {
  .grid-inner-wrap {
    transform: rotateX(30deg);
  }
}


/* Player Hand Styling */
.hand-grid {
  display: flex;
  gap: 8px;
  align-items: flex-start; /* Ensure vertical tiles align to the top */
}

.hand-item {
  display: flex;
  flex-direction: column;
  height: calc(var(--hand-tile-size-mobile) * 2);
  width: calc(var(--hand-tile-size-mobile) * 2);
}

.hand-item:active {
  transform: scale(0.95);
}

.card-display {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.deck-counter .deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--tile-edge-color);
  background: black;
  box-shadow:
    0 2px 0 black,
    0 4px 0 var(--tile-edge-color),    
    0 6px 0 black,
    0 8px 0 var(--tile-edge-color),
    0 10px 0 black,    
    0 12px 0 var(--tile-edge-color);   
  height: var(--hand-tile-size-mobile);
  width: calc(var(--hand-tile-size-mobile) * 2);
  font-size: 2rem;
  transform: translateY(-12px);
}

.deck-counter .deck.is-empty {
  border: 1px dashed var(--tile-edge-color);
  box-shadow: none;
  transform: translateY(0)
}

@media (min-width: 500px) {
  .card-display {
    flex-direction: row;
  }

  .hand-item {
    height: var(--hand-tile-size-desk);
    width: calc(var(--hand-tile-size-desk) * 2);
  }

  .deck-counter .deck {
    height: var(--hand-tile-size-desk);
    width: calc(var(--hand-tile-size-desk) * 2);
  }
}

.preview-item {
  display: flex;
  flex-direction: column;
  animation-name: pop-in;
  animation-timing-function: ease-out;
  animation-duration: 150ms;
}

@keyframes pop-in {
  0% {
    transform: scale(0.85);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.preview-item-inner.rotate-180 {
  transform: translateX(-50%);
}

.preview-item-inner.rotate-270 {
  transform: translateY(-50%);
}

.preview-item .cell {
  background-color: rgba(255, 187, 0, 0.15);
  border: 1px solid var(--tile-hl-color);
}

.html-game-view-wrapper .grid[data-size="10"] + .tile-preview .cell,
.html-game-view-wrapper .grid[data-size="11"] + .tile-preview .cell,
.html-game-view-wrapper .grid[data-size="12"] + .tile-preview .cell{
  font-size: 0.8em;
}

.html-game-view-wrapper .grid[data-size="13"] + .tile-preview .cell,
.html-game-view-wrapper .grid[data-size="14"] + .tile-preview .cell,
.html-game-view-wrapper .grid[data-size="15"] + .tile-preview .cell{
  font-size: 0.5em;
}

.hand-row,
.preview-item-row {
  display: flex;
}

.hand-row {
  border-bottom: 2px solid var(--tile-edge-color);
}

/* Cell inside the hand-item */
.hand-item .cell {
  width: var(--hand-tile-size-mobile);
  height: var(--hand-tile-size-mobile);
  font-size: 1.15rem;
  border: 1px solid black;
}

@media (min-width: 500px) {
  .hand-item .cell {
    width: var(--hand-tile-size-desk);
    height: var(--hand-tile-size-desk);
  }
}

.hand-item.selected .hand-row {
  border-bottom: 2px solid var(--tile-hl-color);
}

.hand-item.selected .hand-row .cell {
  border-bottom: 1px solid var(--tile-hl-color);
}

/* Only apply the yellow border to the selected cell, not the entire hand item */
.hand-item.selected .cell {
  border: 1px solid var(--tile-hl-color);
}

.hand-item .cell.power:not(.dead):after,
.preview-item .cell.power:not(.dead):after {
  content: '';
}

/* Info Bar */

.info-bar .help {
  display: flex;
  align-items: center;
}

.info-bar .button {
  height: 3em;
  margin-right: 0.5em;
}

.scoreboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

.scoreboard .score {
  padding: 3px 10px;
}

.about {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  overflow-y: auto;
}

.about.is-visible {
  display: block;
}

.tile-preview {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.player-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}

.player-actions .button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-player-action {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.final-score-table {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem 1rem;
  margin: 0 auto;
  padding: 1rem 0 3rem;
  width: 14em;
  max-width: 100%;
}

.final-score-table dt {
  grid-column: 1;
  font-weight: bold;
}

.final-score-table dd {
  grid-column: 2;
  margin: 0;
  text-align: right;
}

.final-score-table dt:last-of-type,
.final-score-table dd:last-of-type {
  font-size: 1.5em;
}

.histogram-wrapper {
  padding-bottom: 2rem;
}