.threejs-wrapper {
    position: relative;
}

.threejs-wrapper .button {
    position: fixed;
    top: 2rem;
    left: 2rem;
  }

.threejs {
    width: 100vw;
    height: 100vh;
    background-color: #5a5652;
}

.threejs-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}