.grid-person {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  font-size: 2rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
