.card-display {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

.hand-grid {
  display: flex;
  gap: 8px;
  align-items: flex-start; /* Ensure vertical tiles align to the top */
}

.hand-item {
  display: flex;
  flex-direction: column;
  height: calc((var(--hand-tile-size-mobile)) + 4px);
  width: calc((var(--hand-tile-size-mobile) * 2) + 2px);
  border: 1px solid var(--tile-edge-color);
  border-bottom: 3px solid var(--tile-edge-color);

  @media (min-width: 500px) {
    height: cal(var(--hand-tile-size-desk) + 4px);
    width: calc((var(--hand-tile-size-desk) * 2) + 2px);
  }

  &:active {
    transform: scale(0.95);
  }
}

.selected {
  border: 1px solid var(--tile-hl-color);
  border-bottom: 3px solid var(--tile-hl-color);
}

.hand-row {
  display: flex;
}

/* Cell inside the hand-item */
.hand-item-cell {
  width: var(--hand-tile-size-mobile);
  height: var(--hand-tile-size-mobile);
  font-size: 1.15rem;
  border: 1px solid black;

  @media (min-width: 500px) {
    width: var(--hand-tile-size-desk);
    height: var(--hand-tile-size-desk);
  }

  &:first-child {
    border-right: 1px dashed #505050;
  }
}

.deck-counter-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--tile-edge-color);
  background: black;
  box-shadow:
    0 2px 0 black,
    0 4px 0 var(--tile-edge-color),
    0 6px 0 black,
    0 8px 0 var(--tile-edge-color),
    0 10px 0 black,
    0 12px 0 var(--tile-edge-color);
  height: calc((var(--hand-tile-size-mobile)) + 4px);
  width: calc(var(--hand-tile-size-mobile) * 2);
  font-size: 2rem;
  transform: translateY(-12px);

  @media (min-width: 500px) {
    height: cal(var(--hand-tile-size-desk) + 4px);
    width: calc(var(--hand-tile-size-desk) * 2);
  }

  &.is-empty {
    border: 1px dashed var(--tile-edge-color);
    box-shadow: none;
    transform: translateY(0);
  }
}
