@import url('styles/html-game-view.css');
@import url('styles/flying-game-view.css');

:root {
  font-family: monospace; /* Use monospace for classic retro game style */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.site-controls {
  padding: 2em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  width: 100%;
}

