@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('styles/html-game-view.css');
@import url('styles/flying-game-view.css');
@import url('styles/main-menu-view.css');
@import url('styles/grid-view.css');
@import url('styles/threejs.css');

:root {
  /* Variables */
  --button-active-color: #ffbb00;
  --button-color: white;
  --button-background-color: rgba(11, 11, 11, 1);
  --button-warn-color: #741518;
  --button-enabled-color: #175314;

  --font-family-default: 'VT323', monospace;

  --global-bg-color: rgba(11, 11, 11, 1);

  /* icon colors */
  --tree-color: #1b9416;
  --farm-color: #ffd522;
  --people-color: #7c4e10;
  --power-color: #00f1ff;

  /* global styles */
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--global-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-controls {
  padding: 2em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  width: 100%;
}

.button {
  position: relative;
  padding: 0.6em 2em;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-color);
  border-radius: 3px;
  font-family: var(--font-family-default);
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
  font-size: 1em;
}

.button:hover,
.button:active,
.button:focus,
.button.active {
  box-shadow:
    inset 0 0 0 4px var(--button-background-color),
    inset 0 0 0 6px var(--button-color);
}

.button:active .button.active {
  border-color: var(--button-active-color);
  color: var(--button-active-color);
  box-shadow:
    inset 0 0 0 4px var(--button-background-color),
    inset 0 0 0 6px var(--button-active-color);
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid var(--button-active-color); /* Show outline only for keyboard navigation */
}

.button.small {
  border-width: 1px;
}

.button.small:hover,
.button.small:active,
.button.small:focus {
  box-shadow:
    inset 0 0 0 2px var(--button-background-color),
    inset 0 0 0 3px var(--button-color);
}

.button.small:active,
.button.small.active {
  border-color: var(--button-active-color);
  color: var(--button-active-color);
  box-shadow:
    inset 0 0 0 2px var(--button-background-color),
    inset 0 0 0 3px var(--button-active-color);
  transform: scale(0.95);
}

.button.warn:hover,
.button.warn:active,
.button.warn:focus,
.button.warn.active {
  border-color: var(--button-warn-color);
  box-shadow:
    inset 0 0 0 2px var(--button-background-color),
    inset 0 0 0 3px var(--button-warn-color);
  color: var(--button-warn-color);
}

.button.warn:active,
.button.warn:active {
  border-color: var(--button-warn-color);
  color: var(--button-warn-color);
  box-shadow:
    inset 0 0 0 2px var(--button-background-color),
    inset 0 0 0 3px var(--button-warn-color);
  transform: scale(0.95);
}

.button.enabled {
  border: 2px solid var(--button-enabled-color);
}

.button.enabled:hover,
.button.enabled:active,
.button.enabled:focus,
.button.enabled.active {
  border-color: var(--button-enabled-color);
  box-shadow:
    inset 0 0 0 2px var(--button-background-color),
    inset 0 0 0 3px var(--button-enabled-color);
}

.button .popup {
  display: none;
  position: absolute;
  left: 0;
  bottom: calc(100% + 0.5rem);
  width: 100%;
  padding: 0.25rem;
  background: var(--button-enabled-color);
}

.button .popup.active {
  display: block;
  animation-name: popup;
  animation-duration: 250ms;
  animation-fill-mode: backwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.loading {
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loading-icons div {
  padding: 0 10px;
}

.loading-icons .tree {
  color: var(--tree-color);
}

.loading-icons .farm {
  color: var(--farm-color);
}

.loading-icons .people {
  color: var(--people-color);
}

.loading-icons .power {
  color: var(--power-color);
}
